@{
    ViewData["Title"] = "Joel Hilton Collection -- Enter a Movie";
}

@model EnterMovieModel;

<div class="text-center">
    <h1 class="display-4">Enter a Movie</h1>
    <p>Use the form below to enter a movie:</p>

    <form method="post">

        @*<input id="movieID" asp-for="MovieID" type="hidden" />
        <span asp-validation-for="MovieID"></span>*@

        <label>Category:</label>
        <select id="movCategory" asp-for="CategoryID">
            <!--changing to asp-for="Category" did not do anything-->
            <option value="">Select a Category: </option>
            @foreach (Category c in ViewBag.CategoriesList)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select>
        @*<span asp-validation-for="Category.CategoryID"></span>*@

        <br />
        <label>Title: </label>
        <input id="movTitle" asp-for="Title" /><br />
        <span asp-validation-for="Title"></span>

        <label>Year: </label>
        <input id="movYear" asp-for="Year" /><br />
        <span asp-validation-for="Year"></span>

        <label>Director: </label>
        <input id="movDirector" asp-for="Director" /><br />
        <span asp-validation-for="Director"></span>

        <label>Rating: </label>
        <select asp-for="Rating">
            <option id="ratingG">G</option>
            <option id="ratingPG">PG</option>
            <option id="ratingPG-13">PG-13</option>
            <option id="ratingR">R</option>
        </select>
        <span asp-validation-for="Rating"></span>
        <br />

        <label>Edited (Yes/No): </label>
        <select asp-for="Edited">
            <option value="true" id="editedYes">Yes</option>
            <option value="false" id="editedNo">No</option>
        </select>
        <span asp-validation-for="Edited"></span>
        <br />

        <label>Lent To: </label>
        <input id="movLentTo" asp-for="Lent_To" /><br />
        <span asp-validation-for="Lent_To"></span>

        <label>Notes: </label>
        <input id="movNotes" asp-for="Notes" maxlength="25" /><br />
        <span asp-validation-for="Notes"></span>

        <input id="submitBtn" type="submit" value="Enter Movie" />

        <!--Display error messages per data validation parameters-->
        <div asp-validation-summary="All"></div>

    </form>
</div>