@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Learn about all the wonderful movies under Joel's collection!</p>
       <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>